.features {
  margin-top: 4rem;
}

.features-title {
  text-align: center;
}

.features-item {
  margin: 3rem 0;
}

.features-item-image {
  margin: 0 auto;
  display: block;
  width: 5rem;
}

.features-item-title {
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
}

.features-item-content {
  text-align: center;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .features {
    margin-top: 8rem;
  }
}

@media (min-width: 844px) {
  .features-container {
    margin-top: 5rem;
    column-count: 3;
    column-gap: 10rem;
  }

  .features-item {
    margin-top: 0;
    max-width: 30rem;
  }
}
